{% extends './layout.html' %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block tittle %} Registrarse {% endblock %}

{% block body %}
<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" action="{{ url_for('auth.register') }}" method="POST">
				{{ form.hidden_tag() }}
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					{{ form.name.label }} {{ form.name }}
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					{{ form.email.label }} {{ form.email }}
				</div>
                <div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					{{ form.password.label }} {{ form.password }}
				</div>
				<button class="button login__submit" type="submit">
					{{ form.submit }}
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
			<div class="social-login">
				<h3>log in via</h3>
				<div class="social-icons">
					<a href="#" class="social-login__icon fab fa-instagram"></a>
					<a href="#" class="social-login__icon fab fa-facebook"></a>
					<a href="#" class="social-login__icon fab fa-twitter"></a>
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>

{% endblock %}